@keyframes animation-controls-in {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes animation-controls-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(40px);
  }
}

.controls {
  display: none;
  background-color: hsla(240, 10%, 10%, 0.4);
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 300px;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &.controls--active {
    display: block;
  }

  &.controls--animate-in {
    animation-name: animation-controls-in;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  &.controls--animate-out {
    animation-name: animation-controls-out;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @media screen and (max-width: 480px) {
    background-color: hsla(240, 5%, 0%, 0.8);
    width: 100%;
  }

  .js-controls-close {
    cursor: pointer;
  
    img {
      width: 32px;
      height: 32px;
    }
  }
}

.controls__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.control__group {
  margin-bottom: 20px;
}