.sliderControl {
  width: 100%;

  &:hover {
    .sliderControl__track {
      background-color: hsl(240, 10%, 10%);
    }
  }
}

.sliderControl__label {
  color: hsl(340, 0%, 90%);
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
}

.sliderControl__track {
  background-color: hsl(240, 10%, 5%);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 100%;

  transition-duration: 200ms;
  transition-timing-function: ease-out;
  transition-property: background-color;
}

.sliderControl__knob {
  background-color: $color_primary;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 30px;
  width: 12px;
  z-index: 100;

  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: background-color;

  &:active {
    background-color: $color_primary_active;
    cursor: grabbing;
  }
}

.sliderControl__value {
  color: hsl(240, 10%, 60%);
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 1px;
}
