@import 'reset';

$color_primary: hsl(340, 100%, 50%);
$color_primary_hover: hsl(340, 100%, 40%);
$color_primary_active: hsl(340, 100%, 20%);
$color_primary_disabled: hsl(340, 0%, 20%);

html {
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  width: 100vw;
}

.triggerButton {
  $_height: 40px;

  background-color: $color_primary;
  border-radius: $_height;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  height: $_height;
  line-height: $_height;
  padding: 0 4rem;
  position: relative;
  z-index: 50;

  transition-duration: 200ms;
  transition-timing-function: ease-out;
  transition-property: background-color;

  &:hover {
    background-color: $color_primary_hover;
  }

  &:active {
    background-color: $color_primary_active;
  }

  &.triggerButton--disabled {
    background-color: $color_primary_disabled;
  }
}

@import 'controls';
@import 'sliderControl';

canvas.confettiCannonIndicator {
  display: block;
  height: 100vh;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
}

@keyframes animation-icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.js-controls-open {
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;

  transition-duration: 100ms;
  transition-property: transform;
  transition-timing-function: ease-out;

  &:active {
    transform: scale(0.9);
  }

  &.js-controls-open--animate {
    img {
      animation-duration: 10s;
      animation-name: animation-icon-rotate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  img {
    width: 32px;
    height: 32px;
  }
}
